hr {
  border: 0.5px solid #CCCCCC;
  margin: 0;
}

header {
  background-color: #F5F5F5;
  border-bottom: 0.5px solid #CCCCCC;
  position: sticky;
  top: 0;
  z-index: 999;
  text-align: center;
  font-size: calc(10px + 2vmin);
  font-weight: 500;
  color:  #222222;
  padding: 2vh;
}

footer {
  border-top: 0.5px solid #CCCCCC;
  background-color: #F5F5F5;
  position: sticky;
  bottom: 0;
  z-index: 999;
  text-align: center;
  font-size: calc(6px + 2vmin);
  font-weight: 500;
  color:  #222222;
  padding: 3vh;
}

footer span {
  border: none;
  background: none;
  margin: 0 25px;
}

button[type=submit] {
  color: #FFFFFF;
  background-color: #41A8D2;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  font-size: calc(6px + 2vmin);
  line-height: calc(6px + 2vmin);
  padding: 5px 15px;
  float: right;
}

.App {
  background-color: #F5F5F5;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Toast {
  background-color: #41A8D2;
  font-size: calc(px + 2vmin);
  color: #FFFFFF;
  padding: 2vh 5vw;
}

.View {
  min-height: 100vh;
}

.Coverage-info {
  padding: 2vh 5vw;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
  line-height: calc(10px + 2vmin);
  color: #222222;
}

.Card-cache {
  padding: 10px calc(5% - 10px);
  background-color: #EAEAEA;
}

.Card {
  display: inline-block;
  margin: 5px 10px;
  text-align: center;
  font-weight: 500;
  color: #41A8D2;
}

.Card-img {
  margin-top: 5px;
  height: 14vh;
  width: 42vw;
  max-width: 250px;
  border-radius: 7px;
}

.Section {
  padding: 0.5vh 2vw;
  font-size: calc(8px + 2vmin);
  font-weight: bold;
  color: #666666;
}

.Partition {
  background-color: #FFFFFF;
  color: #393939;
  font-weight: bold;
  padding: 1.5vh 5vw;
}

.Service {
  width: 49%;
  display: inline-block;
  font-size: calc(10px + 2vmin);
}

.Partition.Service {
  width: 90vw;
}

.Provider {
  color: #666666;
  font-size: calc(8px + 2vmin);
  font-weight: 500;
}

.Balance {
  width: 49%;
  text-align: right;
  font-size: calc(6px + 2vmin);
  font-weight: 100;
  color: #666666;
  float: right;
}

.Balance-amount {
  font-size: calc(20px + 2vmin);
  line-height: calc(20px + 2vmin);
  color: #3DC270;
}

.Plan {
  color: #3DC270;
  font-size: calc(8px + 2vmin);
  font-weight: normal;
}

.Current-selection {
  color: #11779C;
}

#Menu {
  color: #11779C;
  position: absolute;
  left: 10px;
}

#Coverage-date {
  color: #41A8D2;
  font-weight: normal;
  float: right;
}
